node/node_modules
npm-debug.log
*.swp
*.pyc
# These files are generated using `fab gen'
chrome/config.*.js
node/config.*.js
chrome/manifest.json
node/templates/post.mustache
chrome/post.mustache
chrome/popup.html
chrome/jquery.mustache.js
chrome/jquery.min.js
chrome/jquery.timeago.js
