<!DOCTYPE html>
<html>
  <head>
    <title>w.s</title>
    <style>
      body {
        min-width: 357px;
        overflow-x: hidden;
      }
      #compose textarea {
        font-family: sans-serif;
        font-size: 1em;
      }
      #compose .attribution {
        font-style: italic;
      }
      #compose .author {
        font-weight: bold;
      }
      #compose .status {
        color: #949494;
      }
    </style>
    <script type="application/mustache">
      {{{postTemplate}}}
    </script>
    {{#assetScripts}}
      <script type="text/javascript" src="{{name}}"></script>
    {{/assetScripts}}
    <script src="config.dev.js"></script>
    <script src="config.prod.js"></script>
    <script src="popup.js"></script>
  </head>
  <body>
    <div id="main">
      <div id="compose">
        <textarea placeholder="Press enter to submit" rows="3" cols="50"></textarea><br />
        <span class="attribution">Posting as <span class="author">Anonymous</span></span>
        <div class="status"></div>
      </div>
      <div id="posts">
      </div>
    </div>
  </body>
</html>

