<!DOCTYPE html>
<html>
  <head>
    <title>w.s</title>
    <style>
      body {
        min-width: 357px;
        overflow-x: hidden;
      }
    </style>
    <script type="application/mustache">
      {{{postTemplate}}}
    </script>
    {{#assetScripts}}
      <script type="text/javascript" src="{{name}}"></script>
    {{/assetScripts}}
    <script src="config.dev.js"></script>
    <script src="config.prod.js"></script>
    <script src="popup.js"></script>
  </head>
  <body>
    <div id="main">
    </div>
  </body>
</html>

