<div class="body">
  {{body}}
</div>
<div class="info">
  {{#author}}
    <span class="author">{{author}}</span>&nbsp;
  {{/author}}
  <span class="timestamp" data-timestamp="{{timestamp}}">
    at some point
  </span>
</div>
<div class="url">
  <a href="{{url}}" target="_blank">{{url}}</a>
</div>
